@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.top-fixed-nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(195, 100%, 45%);
    padding: 50px 10px;
    
    .searchField {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .inputAndSubmit {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .pac-target-input {
                font-family: 'Lato', sans-serif;
                font-size: 15px;
                background-color: #FFFFFF;
                color: black;
                width: 50%;
                height: 60px;
                border: none;
            }
            
            .pac-target-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: rgba(0, 0, 0, 0.438);
                opacity: 1; /* Firefox */
            }
            .pac-target-input::-ms-input-placeholder { /* Microsoft Edge */
                color: rgba(0, 0, 0, 0.438);
            }
            .pac-target-input::-ms-input-placeholder { /* Microsoft Edge */
                color: rgba(0, 0, 0, 0.438);
            }
        
            .pac-target-input:active {
                outline: none;
            }
            .pac-target-input:focus {
                outline: none;
            }
        }
            .autocompleteLocations {
                position: relative;
                font-family: 'Lato', sans-serif;
                display: flex;
                flex-direction: column;
                width: 60%;
                height: 150px;
                background-color: #FFFFFF;
                border-top: 1px solid hsl(195, 100%, 45%);
                overflow-x: hidden;
                overflow-y: scroll;  
          }
        }
    }