@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

.weather_section_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 100%;
    .weather_card {
        flex-grow: 1;
        border: 1px solid black;
    }
}