.weather-option-drop {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

    div {
        // border: 1px solid hsl(195, 100%, 45%);
        padding: 20px 50px;
        font-family: 'Lato', sans-serif;
        color: white;
        background-color: hsl(196, 29%, 42%);
        cursor: pointer;
        transition: 0.3s all;

        &:hover {
            background-color: white;
            color: hsl(195, 100%, 45%);
        }
    }
}