.weather-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px 20px;
    margin-top: 5px;
    background-color: hsl(195, 100%, 45%);
    font-family: 'Cairo', sans-serif;
    .city-card-name {
        font-family: 'Lato', sans-serif;
        font-size: 70px;
        color: white;
        margin-bottom: 20px;
    }
    .weather-card-data-subcontainer {
        position: relative;
        padding: 30px 20px;
        border: 1px solid white;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        
        .day-name-and-date {
            width: 100%;
            font-family: 'Lato', sans-serif;
            font-size: 40px;
            color: white;
            display: flex;
            flex-direction: column;

            span:nth-child(2) {
                font-size: 15px;
            }
        }

        .weather-top-bar {
            background-color: hsl(195, 100%, 45%);
            position: absolute;
            top: -15px;
            right: 15px;
            display: flex;
            gap: 15px;
            padding: 0px 10px;
    
            .wtb-data {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 20px;
                }
            }
        }


        .card-datas {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 40px;
            .weather-card-main-data {
                display: flex;
                flex-direction: column;
    
                .weather-temperature-and-icon {
                    display: flex;
                    gap: 30px;
                    align-items: center;
                    img {
                        width: calc(100px + (150 - 100) * ((100vw - 300px) / (1900 - 300)));
                    }
                    .current-temperature {
                        font-size: calc(50px + (100 - 50) * ((100vw - 300px) / (1900 - 300)));
                        color: white;
                    }
                }
            }
    
    
            .weather-additional-data {
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                .clouds {
                    font-size: 20px;
                    color: white;
                }
    
                .rest-additional-data {
                    display: flex;
                    gap: 25px;
                    
                    .additional-data {
                        display: flex;
                        flex-direction: column;
                        row-gap: 0px;
    
                        .rad-description {
                            color: #bccae0;
                            font-weight: 900;
                        }
                        
                        .rad-data {
                            color: white;
                        }
                    }
                }
            }

            .card-prediction-datas {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .predictions-header {
                    font-size: 35px;
                    color: white;
                    font-family: "Cairo", sans-serif;
                }

                .predictions-data {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    gap: 20px;
                    .pd-data {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-family: "Cairo", sans-serif;
                        .data-description {
                            color: #bccae0;
                            font-weight: 900;
                        }

                        .sub-data {
                            display: flex;
                            flex-direction: column;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:940px) {
    .weather-card {
        width: 100%;
    }
}